<!-- Div to Mount App -->
<link href="/static/css/main.css" rel="stylesheet" />
<div class="table">
    <div class="row">
        <div class="left"></div>
        <div id="app">
            <h2>Blockchain1</h2>
            {% block content %}
            {% endblock %}
        </div>
        <div class="right"></div>
    </div>
</div>

<!-- Reference to Vue.js library -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<!-- Script Element for our first App -->
<script>
var a_block_no = "{{ block_no }}";
var a_eventData = "{{ event_data|safe }}";
</script>
<script src="/static/js/main.js"></script>
<script>
    app.fetchData();
    app.getHash();
</script>
