<!-- Div to Mount App -->
<link href="/static/css/main.css" rel="stylesheet" />
<div class="table">
    <div class="row">
        <div class="left"></div>
        <div id="app">
            <h2>{{ title }}</h2>
            {% block content %}
            {% endblock %}
        </div>
        <div class="right"></div>
    </div>
</div>

<script nonce="{{ csp_nonce() }}">
    sessionStorage.block_no = {{ block_no|tojson|safe }};
    sessionStorage.nonce = {{ nonce_list|tojson|safe }};
    sessionStorage.hash_code = {{ hash_list|tojson|safe }};
    sessionStorage.previous_hash = {{ previous_hash|tojson|safe }};
    sessionStorage.eventData = {{ event_data|tojson|safe }};
    sessionStorage.size = {{ size }};
</script>
<!-- Reference to Vue.js library -->
{% if production %}
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
{% else %}
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
{% endif %}
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<!-- Script Element for our first App -->
<script src="/static/js/houses.js"></script>
