<!-- Div to Mount App -->
<link href="/static/css/main.css" rel="stylesheet" />
<div class="table">
    <div class="row">
        <div class="left"></div>
        <div id="app">
        <h2>Blockchain1</h2>
        <div>
            <img id="roof" src="/static/img/roof.png">
        </div>
        <table v-on:click="showMessage">
            <tr><th colspan="4">Consumption Data registered in a Blockchain Database</th><tr>
            <tr><td>Block No</td><td>000432</td><td>Nonce</td><td>f34b32da</td></tr>
            <tr><td>Previous Hash</td><td colspan="3">0000000308e7e0bea95a3e88e4e406c37133f0929c80866bda04bc0bce53a15</td></tr>
            <tr><td>Event<br/>Data</td><td colspan="3"> {{ "{{" }} propertyName {{ "}}" }}</td></tr>
            <tr><td>Block Hash</td><td colspan="3">0000000308e7e0bea95a3e88e4e406c37133f0929c80866bda04bc0bce53a15</td></tr>
        </table>
        </div>
        <div class="right"></div>
    </div>
</div>

<!-- Reference to Vue.js library -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<!-- Script Element for our first App -->
<script>
    var app = new Vue({
        el:'#app',
        data: {
            propertyName: ''
        },
        methods: {
            showMessage: function() {
                axios
                    .get('/message')
                    .then(response => {
                        this.propertyName = response.data;
                    });
            }
        }
    });
</script>
